# Môi trường ảo Python và cache
__pycache__/
*.py[cod]
*.pyc
*.pyo
*$py.class
.venv/
env/
venv/
.env

# Cấu hình IDE / Editor
.vscode/
.idea/

# File tạm và log
*.log
.DS_Store

# (Tùy chọn) Bỏ qua mật khẩu master cục bộ nếu có
# config/odoo.conf
